<!-- Entry point for using OpenNI2 devices -->
<launch>
  <!-- Hardware depth registration -->
  <param name = "device_sn" type="string" value = ""/>
  <param name = "rgb_output_enable" type="bool" value = "true"/>
  <param name = "depth_output_enable" type="bool" value = "true"/>
  
  <param name = "rgb_do_undistortion" type="bool" value = "false"/>
  <param name = "rgbd_do_registration" type="bool" value = "false"/>
  <param name = "map_depth2rgb" type="bool" value = "false"/>
  
  <node pkg="percipio_depth_cam3" type="percipio_publisher" name="percipio_publisher"></node>
</launch>
